<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CherryPy Index</title>
</head>

{% block body %}

<body>
    <div>
        {{greet}} {{object}}
    </div>
    <div class="map">
        <small><a href="/generate?length=8">Generate random string</a></small>
        <small><a href="/befriend">Want to be my friend?</a></small>
        <small><a href="/posts">Posts</a></small>
    </div>
</body>

{% endblock %}

</html>